body {
    text-align: center; /* Center text and inline elements */
}

body, .blurb, .teaching-experience, p {
    margin: 60px auto; /* Centers block elements */
    width: 70%; /* Sets width of content container */
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 1em;
    line-height: 1em;
    color: #333;
    text-align: left; /* Ensures text within is left-aligned */
}

nav ul, footer ul {
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    padding: 10px;
    list-style: none;
    font-weight: bold;
    text-align: center; /* Centers nav/footer items */
}

nav ul li

