<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="shortcut icon" type="image/x-icon" href="../favicon.ico">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
				<li><a href="/projects">Projects</a></li>
				<li><a href="/teaching">Teaching</a></li>
		        	<li><a href="/about">About</a></li>
				
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			
			<br> <!-- this line was added -->
			
			<footer>
	    		<ul>
	        		<li><a href="mailto:andreaaboskovic@gmail.com">email</a></li>
	        		<li><a href="https://github.com/aboskovic21">github</a></li>
				<li><a href="https://www.linkedin.com/in/andreaboskovic/">linkedin</a></li>
				</ul>
			</footer>
		</body>
	</html>
